<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add user</title>
</head>
<body>

<form th:action="${'/users/'}" th:object="${user}" method="post">
    <label for="userId">User Id</label>
    <input id="userId" type="text" th:field="*{userId}">
    <br>
    <label for="firstName">First Name</label>
    <input id="firstName" type="text" th:field="*{firstName}">
    <br>
    <label for="lastName">Last Name</label>
    <input id="lastName" type="text" th:field="*{lastName}">
    <br>
    <label for="email">Email</label>
    <input id="email" type="text" th:field="*{email}">
    <br>




    <select th:field="*{departmentId}">
        <!--<option value="0">Unallocated</option> -->
        <option th:each="department: ${allDepartments}" th:value="${department.departmentId}"
                th:text="${department.departmentId}+'-'+${department.departmentName}"></option>
    </select>

    <button>Submit</button>
</form>
</body>
</html>